<a href="https://colab.research.google.com/github/lprs110/tripadvisor-sentiment-analysis/blob/master/tripadvisor_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_json('http://tiagodemelo.info/datasets/dataset-v2.dat', lines=True)

In [ ]:
df.head()

                                  title  ...                                       itemReviewed
0                               Jantar   ...  {'name': 'Imperador dos Camarões', 'address': ...
1                  Uma boa experiência.  ...  {'name': 'Guacamole Natal', 'address': {'stree...
2                    Otimo self service  ...  {'name': 'Chica Pitanga', 'address': {'streetA...
3  O sorvete mais tradicional do estado  ...  {'name': 'Sorvetes Vi Sabor', 'address': {'str...
4                     Melhor hamburger!  ...  {'name': 'Z Deli Sandwich Shop', 'address': {'...

[5 rows x 12 columns]

In [ ]:
df.describe()

           reviewId  restaurantId   ratingValue
count  1.000000e+05  9.999900e+04  100000.00000
mean   4.160921e+08  5.219436e+06       4.25719
std    1.701933e+08  3.838673e+06       0.96880
min    2.880014e+07  7.810710e+05       1.00000
25%    2.673839e+08  2.342383e+06       4.00000
50%    3.926971e+08  4.295557e+06       5.00000
75%    5.562007e+08  7.208435e+06       5.00000
max    7.527117e+08  2.031396e+07       5.00000

In [ ]:
df.columns

Index(['title', 'reviewId', 'restaurantId', 'author', 'reviewBody', 'language',
       'mobileDevice', 'userLocation', 'publicationDate', 'visitDate',
       'ratingValue', 'itemReviewed'],
      dtype='object')